<div class="flex">
  <app-map [mapFeatures]="selectedFlightPlan"></app-map>
  <app-right-panel
    [allFlightPlans]="allFlightPlans"
    [(selectedFlightPlan)]="selectedFlightPlan"
    (planningStarted)="startPlanning()"
    (planningFinished)="finishPlanning()"></app-right-panel>
</div>
