<div class="flex-column">
  <button (click)="startPlanning()" *ngIf="!isPlanning; else notPlanning">Add new plan</button>
  <ng-template #notPlanning>
    <button (click)="stopPlanning()">Finish planning</button>
  </ng-template>
  <div>All flight plans</div>
  <div *ngFor="let flightPlan of allFlightPlans;index as index" (click)="selectFlightPlan(flightPlan)"
       [ngClass]="flightPlan === selectedFlightPlan ? 'selected' : ''" class="list-item">
    {{index}}
  </div>
</div>
